@font-face {
  font-family: "iconfont"; /* Project id 4436065 */
  src: url('iconfont.woff2?t=1717915567365') format('woff2'),
       url('iconfont.woff?t=1717915567365') format('woff'),
       url('iconfont.ttf?t=1717915567365') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-wode:before {
  content: "\e61a";
}

.icon-faxian:before {
  content: "\e63b";
}

.icon-qunliao:before {
  content: "\e767";
}

.icon-bofang1:before {
  content: "\e664";
}

.icon-bofang:before {
  content: "\e87c";
}

.icon-24gf-playlistHeart:before {
  content: "\ea84";
}

.icon-16gl-scanCode:before {
  content: "\e853";
}

.icon-yuyin:before {
  content: "\e8c0";
}

.icon-santiaogang:before {
  content: "\e608";
}

.icon-xiala:before {
  content: "\e624";
}

.icon-zanting:before {
  content: "\e87a";
}

.icon-zuihouyiyemoyexiayishou:before {
  content: "\e76d";
}

.icon-diyiyeshouyeshangyishou:before {
  content: "\e76e";
}

.icon-zanting1:before {
  content: "\e641";
}

.icon-jindutiao:before {
  content: "\e603";
}

.icon-sousuo:before {
  content: "\e752";
}

.icon-zuixiaohua:before {
  content: "\e67a";
}

.icon-shiyongxiaochuangbofang:before {
  content: "\e685";
}

.icon-guanbi:before {
  content: "\e65f";
}

.icon-zuidahua:before {
  content: "\e651";
}

.icon-shoucang1:before {
  content: "\e629";
}

.icon-shouye:before {
  content: "\e601";
}

.icon-zuijinbofang:before {
  content: "\e676";
}

.icon-bendiyinle:before {
  content: "\e620";
}

.icon-shequ-active:before {
  content: "\e67b";
}

.icon-xihuan:before {
  content: "\e86f";
}

.icon-xiazai:before {
  content: "\e610";
}

.icon-shoucang:before {
  content: "\e659";
}

.icon-wangyiyunyinle-:before {
  content: "\e62c";
}

.icon-yunyinle:before {
  content: "\e721";
}

.icon-download:before {
  content: "\e66c";
}

.icon-wangyiyunyinle-1:before {
  content: "\e602";
}

.icon-yunboke:before {
  content: "\e605";
}

.icon-boke:before {
  content: "\e609";
}

.icon-diantai:before {
  content: "\e642";
}

.icon-wangyiyun:before {
  content: "\e600";
}

